.date-range {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 16px 0;

  &__field {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    &__label {
      font-family: 'ubuntu-bold';
      padding: 0.25rem;
    }

    &__input {
      background-color: #e4e4e4;
      border: solid 1px var(--border-color, #d4d4d4);
      border-radius: 2px;
      padding: 0.5rem;
    }
  }
}
